@font-face {
    font-family: Cubano;
    src: url(../../media/fonts/Cubano.ttf);
}

@font-face {
    font-family: Poppins;
    src: url(../../media/fonts/Poppins-Regular.ttf);
}

body {
    background: #212121;
    background: linear-gradient(180deg, rgba(33, 33, 33, 1) 0%, rgba(33, 27, 27, 1) 50%, fixed);
}