@font-face {
    font-family: Cubano;
    src: url(../../media/fonts/Cubano.ttf);
}

@font-face {
    font-family: Poppins;
    src: url(../../media/fonts/Poppins-Regular.ttf);
}

body {
    
}